*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	height: 100vh;
	width: 100%;
	font-size: 14px;
	line-height: 18px;
	font-family: Helvetica, sans-serif;
	background: #fafafa;
}

.corpoDaPagina
{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.primeiraColuna
{
	background-image: url("../images/cell.png");
	background-size: 468.32px 634.15px;
	background-position: -46px 0;
	background-repeat: no-repeat;
	min-height: 100%;
	width: 468.32px;
	margin-top: 50px;
	position: relative;
}


.imagens
{
	position: absolute;
	left: 111px;
	top: 25.9px;
} 


.segundaColuna
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	height: 100%;
	margin-top: 50px;
}

.formulario
{
	display: flex;
	align-self: flex-start;
}

.logoInstagram
{
	margin: 20px 0 30px 0;
}

.form 
{
	padding: 0 15px;
}

.email, .senha
{
	margin-bottom: 8px;
	margin-top: 8px;
}


.borda
{
	border: none;
	outline: 0.2px solid #ccc;
	height: 100%;
	width: 350px;
	padding: 20px;
	text-align: center;
}

#email, #senha 
{
	width: 100%;
	height: 39px;
	border: 1px solid #ccc;
	padding: 10px;
	background: #fafafa;
	background: rgba(var(--b3f,250,250,250),1);
	outline: none;
}

#botao{
	height: 32px;
	width: 100%;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 15px;
	color: #fff;
	background-color: #0957c3;
	opacity: 0.5;
	border-radius: 2px;
	margin: 10px 0;
	font-weight: bold;
}

.linhas  
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.texto
{
	text-transform: uppercase;
	color: gray;
	margin: 10px 8px;
	font-size: 12px;
	font-weight: bold;
}

.linha 
{
	background: #ccc;
	height: 1px;
	width: 100%;
}

.segundaParteContainer
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.segundaParteContainer a
{
	text-decoration: none;
	margin-top: 20px;
	color: #054f77;
}
.facebook
{
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 5px;
}
.esqueceuSenha
{
	font-size: 12px;
}
.cadastre-se
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	border: 1px solid #ccc;
	height: 70px;
	font-weight: 500;
}

.cadastre-se p a
{
	font-weight: bold;
	text-decoration: none;
	color: #054f77;
}

.apps
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logoApps
{
	margin: 10px;
}

@media (max-width: 800px)
{

	.primeiraColuna {
		display: none;
	}

	.cadastre-se {
		height: 50px;
		background: #fff;
	}
}