@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: Karla, sans-serif;
    font-size: 1em;
    width: 100%;
}

.cabecalho {
    padding-left: 40px;
    background-color: #FFF;
    margin-bottom: 40px;
    width: 100%;
}

.titulo-cabecalho {
    color: hsl(179, 62%, 43%);
    font-size: 3em;
    padding: 40px 0;
}

.subtitulo-cabecalho {
    color: hsl(71, 73%, 54%);
    font-size: 2em;
    padding-bottom: 20px;
}

.paragrafo-cabecalho {
    font-size: 1.2em;
    line-height: 30px;
    width: 1300px;
    color: hsl(218, 22%, 67%);
}

.segundo-conteudo-pagina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(179, 62%, 43%);
    align-items: stretch;
    width: 100%;
}

.secao-month {
    padding: 40px;
    min-width: 50%;
}

.titulo-month, .titulo-why-us {
    color: hsl(204, 43%, 100%);
    font-size: 3em;
    padding-bottom: 20px;
}

.paragrafo-month-span {
    font-size: 2.5em;
    font-weight: 700;
    padding-right: 20px;
    color: hsl(204, 43%, 100%);
}

.paragrafo-month {
    padding-bottom: 40px;
    color: hsl(204, 43%, 100%);
    font-size: 1.2em;
}

.paragrafo-month-color {
    color: hsl(204, 43%, 85%);
}

.botao-sign-up {
    margin: 0 auto;
    height: 47px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: hsl(204, 43%, 100%);
    font-size: 1.2em;
    background-color: hsl(71, 73%, 54%);
    box-shadow: 0 0 1em teal;
}

.botao-sign-up:hover {
    background-color: hsl(71, 70%, 60%);
    color: hsl(204, 45%, 100%);
    cursor: pointer;
}

.secao-why-us {
    padding: 40px;
    min-width: 50%;
    background-color: hsl(179, 62%, 50%);
}

.lista-why-us {
    list-style-type: none;
    padding-left: 10px;
}

.item-lista-why-us {
    line-height: 25px;
}

.link-lista-why-us {
    text-decoration: none;
    color: hsl(204, 43%, 95%);
}

.link-lista-why-us:hover {
     color: hsl(204, 43%, 90%);   
}

.paragrafo-rodape { 
    font-size: 0.9em;
    text-align: center; 
    margin: 10px 0 5px 0;  
    position: relative;
}
    
.paragrafo-rodape a { 
    color: hsl(228, 45%, 44%); 
}